* {
  box-sizing: border-box;
  font-family: 'Quicksand';
}

html, body {
  margin: 0px !important;
  color: #7f8c8d;
  font-size: 16px;
  background-color: #dde1e2; 
  width: 100%;
}

/* Personalizados */
.oculto {
  display: none !important;
}

.seleccion {
  margin-top: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 6em;
}

.seleccion-avatar {
  width: 150px;
  border-radius: 50%;
  border: 2px solid #3498db;
  position: relative; 
}

/* Modal */
#modal { 
  position: fixed;
  top: 1000px;
  height: 100%;
  width: 100%;
  background-color: #ecf0f1;
  z-index: 999;
  opacity: 0;
}

#modal-avatar {
  width: 36px;
  border-radius: 50%;
  border: 2px solid #ecf0f1;
  z-index: 99999;
}

.nuevo-mensaje {
  margin-top: 6em;
  padding-left: 5px;
  padding-right: 5px;
}

.nuevo-mensaje div{
  display: inline;
  float: left;
}

.div-img {
  width: 60px;
}

.div-mensaje {
  width: 100%;
}

textarea {
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  resize: none;
  outline: none !important;
  border-radius: 5px;
  border: 0px;
}

.chat-buttons {
  position: fixed;
  padding: 1rem;
  bottom: 20px;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media {
  display: flex;
}

.media__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #666;
  transition: all 0.1s ease-in-out;
  
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #3498db;
}
.bg-green {
  background-color: #00ac09;
  margin-left: 1rem;
}
.bg-purple {
  background-color: #470494;
}

.bubble {
  width: 100%;
  line-height: 1.4em;
  padding: 0.8rem;
  background-color: #ecf0f1;
  border-radius: 8px;
  display: inline-block; 
}

.bubble:hover > .over-bubble {
  opacity: 1; 
}

.bubble-container {
  width: 75%;
  display: block;
  position: relative;
  padding-left: 20px;
  display: inline-block;
}

.arrow {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: 10%;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ecf0f1;
}

.arrow-reverse {
  left: auto;
  right: -10px;
  top: 10%;
  border-right: 0;
  border-left: 20px solid #ecf0f1;
}

.timeline {
  margin-top: 6em;
  width: 100%;
  display: block;
  list-style-type: none;
  background-color: #dde1e2;
  padding-bottom: 2em;
  padding-left: 0px;
  margin-bottom: 2em; 
}

.timeline li {
  padding: 0.5rem 0; 
}

.avatar {
  width: 18%;
  margin-left: 2%; 
  display: inline-block;
  vertical-align: top;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #3498db;
}

.avatar:hover > .hover {
  cursor: pointer;
  opacity: 1;
}

.first {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 0px;
  margin: auto;
  background-color: #3498db;
  text-shadow: #2084c7 1px 1px 0;
  padding: 1rem;
  color: white;
  text-align: center;
  font-family: "Lato";
  font-size: 1.6em;
}

/* Iphone X fix */
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {
  #titulo, #titulo-mensaje {
    position: relative;
    top: 10px;
  }
}

.icon-twitter {
  font-size: 1.5em; }

.over-bubble {
  line-height: 1.4em;
  padding-top: 10%;
  background-color: rgba(236, 240, 241, 0.8);
  position: relative;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  position: absolute !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 999;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  font-size: 2.8em;
  text-shadow: white 1px 1px 0;
}

.action {
  margin-right: .3em;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.icon-star {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.icon-star:hover {
  cursor: pointer;
  color: #f39c12;
}

.icon-retweet {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.icon-retweet:hover {
  cursor: pointer;
  color: #16a085;
}

.icon-mail-reply {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.icon-mail-reply:hover {
  cursor: pointer;
  color: #3498db;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Lato';
  display: inline-block;
  margin-top: .1em;
  margin-bottom: .2em;
  color: #95a5a6; 
}

.retweet {
  position: absolute;
  opacity: 1;
  top: 0;
  right: 1em;
  display: block;
  background-color: #16a085;
  padding: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.retweet .icon-retweet {
  color: white;
  margin: auto;
  width: 100%;
  display: block;
  font-size: 1.2em;
}

.retweet div {
  color: white;
}